.header--sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.header__fix--sign {
  display: flex;
  height: 96px;
  justify-content: center;
  align-items: center;
}
.header__logo--sign {
  width: 183px;
  height: 26px;
}